<h1>Doctor's Office</h1>

<p>
  Add a Doctor:
</p>
<form action="/doctors" method="post">
  <label for="name">Doctor name</label>
  <input id="name" name="name" type="text">
  <label for="specialty_id">Specialty ID</label>
  <input id="specialty_id" name="specialty_id" type="text">
  <button type="submit" class="btn btn-success">Submit</button>
</form>

  #foreach($doctor in $doctors)
   <h3><a href="/doctors/$doctor.getId()">$doctor.getName()</a></h3>
  #end
