<h1 class="text-center">Cuisine Types</h1>

<p>What kind of food do you what to eat today?</p>

  <form action="/cuisines" method="post">
    <label for="type">Cuisine Type</label>
    <input id="type" name="type" type="text">
    <button type="submit" class="btn btn-success">Add Cuisine</button>
  </form>

  #foreach ($cuisine in $cuisines)
    <h3><li><a href="/cuisines/$cuisine.getId()">$cuisine.getType()</li></a></h3>
  #end
